.header-blue {
    font-family:'Source Sans Pro', sans-serif;
  }
  
  @media (min-width:768px) {
    .header-blue {
      padding-bottom:0px;
    }
  }
  
  .header-blue .navbar {
    background:linear-gradient(135deg, #172a74, #21a9af);
    background-color:#184e8e;
    padding-bottom:80px;
    padding-top:.75rem;
    padding-bottom:.75rem;
    color:#fff;
    border-radius:0;
    box-shadow:none;
    border:none;
  }
  
  @media (min-width:768px) {
    .header-blue .navbar {
      padding-top:1rem;
      padding-bottom:1rem;
    }
  }
  
  .header-blue .navbar .navbar-brand {
    font-weight:bold;
    color: #F9E857;
  }
  
  .header-blue .navbar .navbar-brand:hover {
    color:#f0f0f0;
  }
  
  .header-blue .navbar .navbar-collapse {
    border-top:1px solid rgba(255,255,255,0.3);
    margin-top:.5rem;
  }
  
  @media (min-width:768px) {
    .header-blue .navbar .navbar-collapse {
      border-color:transparent;
      margin:0;
    }
  }
  
  .header-blue .navbar .navbar-collapse span .login {
    color:#d9d9d9;
    margin-right:.5rem;
    margin-left: .5rem;
    text-decoration:none;
  }
  
  .header-blue .navbar .navbar-collapse span .login:hover {
    color:#fff;
  }
  
  .header-blue .navbar .navbar-toggler {
    border-color:rgba(255,255,255,0.3);
  }
  
  .header-blue .navbar .navbar-toggler:hover, .header-blue .navbar-toggler:focus {
    background:none;
  }
  
  .header-blue .navbar .navbar-nav a.active, .header-blue .navbar .navbar-nav > .show .dropdown-item {
    background:none;
    box-shadow:none;
  }
  
  @media (min-width: 768px) {
    .header-blue .navbar-nav .nav-link {
      padding-left:.7rem;
      padding-right:.7rem;
    }
  }
  
  @media (min-width: 992px) {
    .header-blue .navbar-nav .nav-link {
      padding-left:1.2rem;
      padding-right:1.2rem;
    }
  }
  
  .header-blue .navbar .navbar-nav > li > .dropdown-menu {
    margin-top:-5px;
    box-shadow:0 4px 8px rgba(0,0,0,.1);
    background-color:#fff;
    border-radius:2px;
  }
  
  .header-blue .navbar .dropdown-menu .dropdown-item:focus, .header-blue .navbar .dropdown-menu .dropdown-item {
    line-height:2;
    color:#37434d;
  }
  
  .header-blue .navbar .dropdown-menu .dropdown-item:focus, .header-blue .navbar .dropdown-menu .dropdown-item:hover {
    background:#ebeff1;
  }
  
  .header-blue .action-button, .header-blue .action-button:not(.disabled):active {
    border:1px solid rgba(255,255,255,0.7);
    border-radius:40px;
    color:#ebeff1;
    box-shadow:none;
    text-shadow:none;
    padding:.3rem .8rem;
    background:transparent;
    transition:background-color 0.25s;
    outline:none;
  }
  
  .header-blue .action-button:hover {
    color:#fff;
  }
  
  .header-blue .navbar .form-inline label {
    color:#d9d9d9;
  }
  
  .header-blue .navbar .form-inline .search-field {
    display:inline-block;
    
    width:80%;
    background:none;
    border:none;
    border-bottom:1px solid transparent;
    border-radius:0;
    color:#ccc;
    box-shadow:none;
    color:inherit;
    transition:border-bottom-color 0.3s;
  }
  
  /*
   * Globals
   */
  
  /* Links */
  a,
  a:focus,
  a:hover {
    color: #fff;
  }
  
  /* Custom default button */
  .btn-secondary,
  .btn-secondary:hover,
  .btn-secondary:focus {
    color: #333;
    text-shadow: none; /* Prevent inheritance from `body` */
    background-color: #fff;
    border: .05rem solid #fff;
  }
  
  
  /*
   * Base structure
   */
  
  html,
  body {
    height: 100%;
  }
  
  body {
    color: #fff;
    background: #007bff;
    background: linear-gradient(to right, #0062E6, #33AEFF);
    
  }
  
  .cover-container {
    max-width: 42em;
  }
  
  
  /*
   * Cover
   */
  .cover {
    padding: 0 1.5rem;
  }
  .cover .btn-lg {
    padding: .75rem 1.25rem;
    font-weight: 700;
  }
  
  
  /*
   * Footer
   */
  .mastfoot {
    color: rgba(255, 255, 255, .5);
  }
